
          <div class="myprojects">
            <h2>Research Projects</h2>

            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          
              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/sfm.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="SfM.html" id="pyslam">
                  <papertitle><b>Animal motion priors for perceptive quadruped locomotion learning</b></papertitle></a><br>
                    
                    Supervised by <a href="https://breadli428.github.io/">Chenhao Li</a>, <a href="https://takahiromiki.com/">Takahiro Miki</a> and <a href="https://rsl.ethz.ch/the-lab/people/person-detail.MTIxOTEx.TGlzdC8yNDQxLC0xNDI1MTk1NzM1.html">Prof. Dr. Marco Hutter</a>
                  </p>

                  <p>              
                  <div class="project" id="pyslam">
                    <a href="SfM.html">Webpage</a> 
                    <!-- <a href="assets/pdf/3dv_poster.pdf">Poster</a> |
                    <a href="https://drive.google.com/file/d/1SUAnv6l69lDIuFu8iadkP70DrkNChG5t/view?usp=sharing">Demo</a> |
                    <a href="assets/pdf/3dv_report.pdf">Report</a>  -->
                    <!-- <a href="https://github.com/Chiaki530/COLMAPSLAM">Code (Open Soon)</a> -->
                  </div>
                  </p>

                  <p>
                    <div>
                      A hierarchical reinforcement learning pipeline for perceptive quadruped locomotion learning, which is to use animal motion priors learned from mocap data and generalize to various types of terrains.
                    </div>
                  </p>
                            
              </td>
              </tr>

              <!-- <br> -->

              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/lane.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="lane.html" id="plr">
                  <papertitle><b>Online Optimization of Central Pattern Generators for Quadruped Locomotion</b></papertitle></a><br>

                    Coauthored by <a href="https://www.researchgate.net/profile/Guillaume-Bellegarda">Dr. Guillaume Bellergarda</a>, <a href="https://miladshafiee.github.io/">Milad Shafiee</a> and <a href="https://www.epfl.ch/labs/biorob/people/ijspeert/">Prof. Dr. Auke Ijspeert</a>
                  </p>

                  <p>              
                  <div class="project" id="plr">
                    <a href="lane.html">Webpage</a> 
                    <!-- <a href="assets/pdf/plr_poster.pdf">Poster</a> |
                    <a href="https://www.youtube.com/watch?v=4saCcrD37qA">Video</a> |
                    <a href="assets/pdf/plr_report.pdf">Report</a>  -->
                    <!-- <a href="https://github.com/leggedrobotics/anymal_ar">Code (Open Soon)</a> -->
                  </div>
                  </p>

                  <p>
                    <div>
                      A novel scheme for keypoint-based lane detection using pose estimation, using composite fields to jointly estimate the keypoint locations and associations.
                      This method achieves on par performance with state-of-the-art frameworks on public benchmarks while being relatively simple.
                    </div>
                  </p>
                            
              </td>
              </tr>

              <!-- <br> -->
            <br>

            </tbody></table>

            <br>
            <!-- leave some space -->
            
            <h2>Course Projects</h2>
            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          
              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/chatbot.png" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="assets/pdf/chatbot.pdf" id="pyslam">
                  <papertitle><b>A Chatbot for Commonsense Persona-grounded Dialogue Generation</b></papertitle></a><br>
                    Team members:
                    <b>Zewei Zhang</b>,
                    <b>Yihan Wang</b>,
                    <br>
                    Supervised by <a href="https://silin159.github.io/SilinGao/">Silin Gao</a>, <a href="https://people.epfl.ch/martin.jaggi">Martin Jaggi</a> and <a href="https://people.epfl.ch/nicolas.flammarion">Nicolas Flammarion</a>
                  </p>

                  <p>              
                  <div class="project" id="pyslam">
                    <!-- <a href="3dv.html">Webpage</a> |
                    <a href="assets/pdf/3dv_poster.pdf">Poster</a> |
                    <a href="https://drive.google.com/file/d/1SUAnv6l69lDIuFu8iadkP70DrkNChG5t/view?usp=sharing">Demo</a> | -->
                    <a href="assets/pdf/chatbot.pdf">Report</a> 
                    <!-- <a href="https://github.com/Chiaki530/COLMAPSLAM">Code (Open Soon)</a> -->
                  </div>
                  </p>

                  <p>
                    <div>
                      A chatbot model generating dialogue responses that possess both persona consistency and contextual coherence.
                    </div>
                  </p>
                            
              </td>
              </tr>
            <br>
            </tbody></table>
  
            <br>

            <!-- <h2>Data Analysis and Visualization</h2> -->
            <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody> -->
            
            <!-- <tr> -->
              <!-- <td width="40%" valign="top" align="center">
              <img src="assets/img/beer.png" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
              </td> -->

              <!-- <td width="60%" valign="top">
                <p><a href="https://epfl-ada.github.io/ada-2023-project-badanalysist/" id="pyslam">
                <papertitle><b>Analyzing User Preferences and Naming Impact for Guiding Targeted Recommendation</b></papertitle></a><br>
                Team members:
                Siyuan Cheng,
                Zhixun Chen,
                Xinyi Ding,
                <b>Yihan Wang</b>,
                <br>
                  Supervised by <a href="https://people.epfl.ch/robert.west?lang=en">West Robert</a>
                </p>

                <p>              
                <div class="project" id="pyslam">
                  <a href="https://epfl-ada.github.io/ada-2023-project-badanalysist/">Webpage</a> 
                  <a href="assets/pdf/3dv_poster.pdf">Poster</a> |
                  <a href="https://drive.google.com/file/d/1SUAnv6l69lDIuFu8iadkP70DrkNChG5t/view?usp=sharing">Demo</a> |
                  <a href="assets/pdf/3dv_report.pdf">Report</a>  -->
                  <!-- <a href="https://github.com/Chiaki530/COLMAPSLAM">Code (Open Soon)</a> -->
                <!-- </div>
                </p> --> 

                <!-- <p>
                  <div>
                    A data story was created to analyze user preferences and naming impact using review datasets consists of both categorical ratings and textual reviews.
                  </div>
                </p> -->
                          
            <!-- </td>
            </tr>
            <br><br>
            <tr>
              <td width="40%" valign="top" align="center">
              <img src="assets/img/ethos.png" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
              </td>

              <td width="60%" valign="top">
                <p><a href="assets/pdf/ethos.pdf" id="plr">
                <papertitle><b>Data-driven Analysis of City Scale Human-building Interaction</b></papertitle></a><br>

                  Supervised by <a href="https://kanahaadventure.weebly.com/">Kanaha Shoji</a> and <a href="https://www.andrewsonta.com/">Andrew Sonta</a>
                </p> -->

                <!-- <p>               -->
                <!-- <div class="project" id="plr"> -->
                  <!-- <a href="plr.html">Webpage</a> |
                  <a href="assets/pdf/plr_poster.pdf">Poster</a> |
                  <a href="https://www.youtube.com/watch?v=4saCcrD37qA">Video</a> | -->
                  <!-- <a href="assets/pdf/ethos.pdf">Slides</a>  -->
                  <!-- <a href="https://github.com/leggedrobotics/anymal_ar">Code (Open Soon)</a> -->
                <!-- </div>
                </p> -->

                <!-- <p>
                  <div>
                    An analysis about human's interactions with urban forms based on pedestrian count data, with an aim to understand what kind of urban design is considered benefiting internal individual residences and cohesion of society.
                  </div>
                </p> -->
                          
            <!-- </td>
            </tr> -->

          <!-- </tbody></table> -->
          <!-- <br> -->
          <!-- leave some space -->
          
          <!-- <h2>Previous Publications</h2>
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            Prior to diving into computer vision, with the deep concern of the human wellfare, I have been working on the spread mechanisms of respiratory diseases. It led to a publication during COVID-19 pandemic. 
            <tr>
              <td width="40%" valign="top" align="center">
              <img src="assets/img/covid.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
              </td>

              <td width="60%" valign="top">
                <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC10009356/" id="pyslam">
                <papertitle><b>Tracing the origin of large respiratory droplets by their deposition characteristics inside the respiratory tract during speech</b></papertitle></a><br>
                  <b>Yihan Wang</b>,
                  <a href="https://scholar.google.com.hk/citations?user=N71FJjgAAAAJ&hl=zh-TW">Jianjian Wei*</a>,
                  Caroline X. Gao, Tao Jin, Li Liu
                  <br>
                </p>

                <p>              
                <div class="project" id="pyslam">
                  <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC10009356/">Paper</a> 
                  <a href="https://github.com/Chiaki530/COLMAPSLAM">Code (Open Soon)</a>
                </div>
                </p> -->

                <!-- <p>
                  <div>
                    Investigation on the importance of airborne transmission in the spread of respiratory infectious diseases using computational fluid dynamics based on a realistic human airway model.
                  </div>
                </p> -->
                          
            </td>
            </tr>
          <br>
          </tbody></table>

          </div>
